<main class="search-wrapper">
  <h1 class="title">Commentative</h1>
  <img src="/logo.png" />

  <p class="intro">Host a discussion about anything online</p>
  <form action="/newarticle" autocomplete="off" method="get">
    <input type="text" name="contenturl" = placeholder = "Place an article URL">

    <input class="button1 active" type="submit" value="Start a Discussion">
  </form>
</main>