<main class="search-wrapper">
  <img src="./assets/commentative-logo.svg" height="40" />

  <p class="intro">Host a discussion about <br />anything online</p>
  <form action="/newarticle" autocomplete="off" method="get">
    <input id="field" type="text" name="contenturl" placeholder="Paste an article URL…">
    <input class="button1 active" type="submit" value="Start a Discussion">
  </form>
</main>