<main class="search-wrapper">
  <h1 class="title">Commentative Home Page</h1>
  <p class="intro">Commentative lets you have one to one discussions about content that you like.</p>
  <form action="/newarticle" autocomplete="off" method="get">
    <input type="text" name="contenturl">
    <input type="submit" value="Start A Discussion">
  </form>
</main>
