body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  position: relative;
  color: #3e444d;
  margin: 0;
}

h1 {
  font-family: freight-text-pro, serif;
  font-weight: lighter;
  font-size: 2.5rem;
  line-height: 1.1;
  margin-top: 6rem;
}

h1,
h2 {
  color: black;
}

p {
  font-family: freight-text-pro, serif;
  font-size: 1.25rem;
  padding: 0.5rem;
  background: white;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

button:active,
button:focus {
  border: none;
  outline: none;
}
.selected {
  background: rgba(240, 59, 82, 0.1);
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.4s;
  transition-timing-function: ease-in-out;
}

a {
  color: #f03b52;
  text-decoration: none;
}

.logo {
  margin-left: -0.5rem;
}

header {
  max-width: 28em;
  margin: 1rem 1.5rem;
}

.content {
  max-width: 38em;
  margin-bottom: 8rem;
  margin: 1.5rem 1.5rem;
}

@media only screen and (min-width: 640px) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }
}

.post-meta {
  margin: 0 0 2rem;
  color: #8a9099;
}

footer {
  margin: 0;
  width: 100%;
  background: #f6f7f8;
  line-height: 1.5;
  font-size: 0.875rem;
}

footer div {
  text-align: center;
  padding: 4rem 1rem;
  color: #999;
}

footer strong {
  font-weight: 600;
}

.button-share {
  background: #3e444d;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  color: white;
  font-size: 0.8125rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

/* Comment box --------------------------  */

.comment-box {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background: white;
  border-radius: 0.5rem;
  border: #ddd 1px solid;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.2);
}

.comment-box.expanded {
  display: flex;
  flex-direction: column;
  max-width: 38rem;
  margin: 0 auto;
}

.comment-box.expanded .comment-block:first-child {
  margin-top: 0.5rem;
}

/* .comment-inner {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.comment-icon {
  display: flex;
  padding-right: 1rem;
  align-items: center;
  color: #666;
} */
.comments {
  position: relative;
}

.prev-next {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.navbutton {
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  background-image: url("../assets/ic-chevron.svg");
}

.navbutton:active {
  opacity: 0.4;
}
.prev-comment-button {
  transform: rotate(180deg);
}

.comment-block {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.comment-info {
  margin-bottom: 1rem;
  color: #666;
  font-size: 0.875rem;
}

.comment-name {
  font-weight: bold;
  display: inline;
  margin-right: 0.5rem;
  color: #f03b52;
}

.comment-input {
  padding: 1rem;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.comment-input .addCommentTextArea {
  width: calc(100% - 48px);
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25rem;
  resize: none;
  outline: none;
  text-align: left;
}

.button-send {
  background-image: url(../assets/ic-send.svg);
  display: block;
  width: 2rem;
  height: 2rem;
}

.button-send:active {
  background-image: url(../assets/ic-send-active.svg);
}
